.components-tab-panel__tabs .activeTab {
    border-bottom: 3px solid #4527a4;
    font-weight: bold;
    background-color: rgba(69, 39, 164, 0.15);
}

.components-tab-panel__tabs button {
    color: #4527a4;
    width: 50%;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}