
.audioCardPlayer{
  display: flex;
}
.music_card{
  overflow: hidden;
  position: relative;
}

@keyframes waveCard{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}

.image{
    width: 102%;
    position: absolute;
    background-size: cover;
    opacity: 0.3;
    z-index: 1;
}
.image:after {
  height: 100px;
  content: '';
  top: 200px;
  position: absolute;
  width: 100%;
  z-index: 1;
  background: linear-gradient(rgba(9, 2, 4, 0), #444);
}
.waveCard {
  position: absolute;
  height: 750px;
  width: 750px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -70%;
  background: radial-gradient(#353535, #383737);
}

.waveCard{
    animation: waveCard 55s linear infinite;
    -wbkit-animation: waveCard 55s linear infinite;
    -moz-animation: waveCard 55s linear infinite;
    border-radius: 40%;
}
.waveCard:nth-child(2){
    animation: waveCard 50s linear infinite;
    -wbkit-animation: waveCard 50s linear infinite;
    -moz-animation: waveCard 50s linear infinite;
}
.waveCard:nth-child(3){
    animation: waveCard 45s linear infinite;
    -wbkit-animation: waveCard 45s linear infinite;
    -moz-animation: waveCard 45s linear infinite;
}
.playing .waveCard{
    border-radius: 40%;
    animation: waveCard 3000ms linear infinite;
    -wbkit-animation: waveCard 3000ms linear infinite;
    -moz-animation: waveCard 3000ms linear infinite;
}
.playing .waveCard:nth-child(2){
    border-radius: 40%;
    animation: waveCard 4000ms linear infinite;
    -wbkit-animation: waveCard 4000ms linear infinite;
    -moz-animation: waveCard 4000ms linear infinite;
}
.playing .waveCard:nth-child(3){
    border-radius: 40%;
    animation: waveCard 5000ms linear infinite;
    -wbkit-animation: waveCard 5000ms linear infinite;
    -moz-animation: waveCard 5000ms linear infinite;
}
.info{
    bottom: 60px;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
}
.title{
    margin-bottom: 8px;
}
.cardControls{
    position: absolute;
    bottom: 15px;
    color: #555;
    font-size: 1.2em!important;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
   
}
