.progress-container {
    align-items: center;
    display: flex;
    gap: 10px;
}

.current-time,
.duration-time {
    width: 60px;
    text-align: center;
    margin-top: 10px;
}

#progresses {
    flex-grow: 1;
    margin: 0 10px;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

#progresses::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    aspect-ratio: 1/1;
}