
.woodenMediaplayer {
	background-size: 50%;
  	background-repeat: repeat;
	box-shadow: 0 5px 20px rgba(0,0,0,0.3);
	width: auto;
	height: auto;
	display: flex;
	flex-direction: row;
	padding: 20px;
	box-sizing:border-box;
	border-radius: 100px;
}
@media (max-width: 450px) {
	.woodenMediaplayer {
		flex-direction: column;
		border-radius: 50px;
	}	
}
audio {
	width:0;
	height:0;
	position: absolute;
	left:-99999px;
}
.discarea {
	margin:10px;
}
@media (max-width: 450px) {
	.discarea {
		margin:10px auto;
	}
	.disc {
		margin-left: 40px;
	}
}
@keyframes spinDisc {
	from {transform: rotate(0deg);}
	to 	 {transform: rotate(360deg);}
}
.disc {
	position: relative;
	display: block;
	float: left;
	width: 110px;
	height: 110px;
	background-color: #E0BF57;
	border-radius: 50%;
}
.woodenMediaplayer.play .disc {
	animation: spinDisc 2s linear 0.3s infinite forwards;
}
.disc::before,
.disc::after {
	content:" ";
	position: absolute;
	border-radius: 50%;
}
.disc::before {
	background-color: #C43D40;
	top: 32.5%;
	left: 32.5%;
	width: 35%;
	height: 35%;
	z-index:2;
}
.disc::after {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	background-color: #222;
	background: linear-gradient(#222, #222, #444, #222, #222);
	border-radius: 50%;
	z-index: 1;
}
.stylus {
	position: relative;
	display: block;
	float:left;
	width: 30px;
	height: 100px;
	margin-left: 5px;
	transform-origin: 15px 15px;
	transition: transform 0.3s ease-in-out;
}
.woodenMediaplayer.play .stylus {
	transform: rotate(34deg);
}
.pivot {
	position: absolute;
	width:30px;
	height:30px;
	background-color: #69727B;
	border-radius: 50%;
}
.arm {
	position: absolute;
	width:5px;
	height:70px;
	background-color: #8B949D;
	top: 10px;
	left: 13px;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}
.arm::before {
	content:" ";
	position: absolute;
	border-radius: 50%;
	background-color: #ACB6BF;
	top: 0px;
	left: -2.5px;
	width: 10px;
	height: 10px;
}
.head {
	position: absolute;
	width: 8px;
	height: 15px;
	background-color: #69727B;
	top:76px;
	left:13px;
	border-radius:3px;
	transform-origin: 50% 0;
	transform: rotate(30deg);
}
.woodenControls {
	margin: 10px;
	display:flex;
	flex-direction:column;
}
.woodenTitle {
	width: 99%;
	box-sizing: border-box;
	padding: 3px 0 3px 10px;
	font-size: 1rem;
	color: #7F3A2B;
	background-color: beige;
	border-radius: 25px;
	border: rgba(245,245,70,0.4) 1px solid;
	overflow:hidden;
}
@media (max-width: 450px) {
	.woodenTitle {
		width: 100%;
		text-align: center;
	}	
}
.subCon {
	margin: 10px 0;
	display:flex;
	flex-direction:row;	
}
.subCon div {
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50%;
	border:none;
	margin-right: 5px;
	background-color: #69727B;
	color: white;
	outline: 0;
	font-size: 1.2rem;
	border-top: #bbc 2px solid;
	border-left: #ccd 2px solid;
	border-right: #aab 2px solid;
	border-bottom: #bbc 2px solid;
	.wooCon{
		margin-top: 13px;
	}
}
.subCon div:hover {
	cursor: pointer;
}

.woodenMediaplayer.play .playstate {
	background-color: #C63C3C;
}
.playstate .fa-pause,
.woodenMediaplayer.play .playstate .fa-play {
	display: none;
}
.woodenMediaplayer.play .fa-pause {
	display: block;
}
@media (max-width: 450px) {
	.subCon div {
		margin: 0 5px;
	}
}
.subControls {
	display: flex;
	flex-direction: row;
}
@media (max-width: 450px) {
	.subControls {
		flex-direction: row nowrap;
		justify-content: space-around;
		margin-bottom: 20px;
	}	
}
.woodenDuration {
	width: 126px;
	text-align: center;
	box-sizing: border-box;
	padding: 3px 10px;
	font-size: 1rem;
	color: #7F3A2B;
	background-color: beige;
	border-radius: 25px;
	border: rgba(245,245,70,0.4) 1px solid;
	margin-right: 10px;
}
.volumeSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 80px;
  background: transparent;
}

.volumeSlider:focus {
  outline: none;
}

.volumeSlider::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: #69727B;
	cursor: pointer;
	margin-top: -6px;
	border-top: #bbc 2px solid;
	border-left: #ccd 2px solid;
	border-right: #aab 2px solid;
	border-bottom: #bbc 2px solid;
}

.volumeSlider::-webkit-slider-thumb:active {
	background-color: #9aa;
}
.volumeSlider::-moz-range-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: #69727B;
	cursor: pointer;
	margin-top: -6px;
	border-top: #bbc 2px solid;
	border-left: #ccd 2px solid;
	border-right: #aab 2px solid;
	border-bottom: #bbc 2px solid;
}

.volumeSlider::-webkit-slider-runnable-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	background-color:#8B949D;
	border-radius: 4px;
	margin-top: 2px;
}
.volumeSlider::-webkit-slider-runnable-track:active {
	background-color: #69727B;
}

.volumeSlider::-moz-range-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	background-color:#8B949D;
	border-radius: 4px;
	margin-top: 2px;
}
